<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Bandy</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js
"></script>
</head>
<body>
  <% if !current_user.nil? %>
    <div class="container">
      <div class="navigation-bar">
        <div class="navigation">
          <div class="menubox">
          </div>
          <div class="icon">
            <a href="/">アイコン</a>
          </div>
          <div class="acount">
            <ul class="user">
              <li class="user-icon">
                <a href="/users/<%= current_user.username %>">
                  <%= current_user.nickname %>
                </a>
              </li>
              <li class="signout-btn">
                <a href="/signout">
                  ログアウト
                </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>
</body>
<style>
  * {
    margin: 0;
    padding: 0;
    font-family: "東青梅ゴシック";
    height: 100%;
    color: #4a4a4a;
  }

  div {
    height: auto;
  }

  a {
    text-decoration: none;
  }

  input {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
  }

  body{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .container{
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 11;
    background-color: #fff;
  }

    .navigation-bar{
    max-width: 1190px;
    margin: auto;
    height: 100%;
  }

  .navigation {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 35px;
    height: 35px;
    text-align: center;
  }

  .user ul{
    overflow: hidden;
  }

  .user li{
    list-style: none;
    margin: 0px;
    float: left;
    margin: 10px;
  }
</style>
</html>