<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136238031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136238031-1');
</script>
</head>
<div>
  <form action="/<%= current_user.username %>/useredit" method="post">
    <input name="discription" type="text" placeholder="<%= current_user.discription %>">
    <a href="/<%= current_user.username %>">キャンセル</a>
    <input type="submit" value="変更を保存">
  </form>
</div>